div.container-fluid#add_accident
  div.row
    div.panel.panel-default
      div.panel-body
        form
          div.row
            div.col-md-12
              div.alert.alert-dismissable.alert-warning(role="alert" ng-show="positionError")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") &times;
                strong Darn:
                | &nbsp; Couldn't figure out your location.
              div.alert.alert-info(role="alert" ng-show="lookingUpLocation")
                | Looking up your geographic location...
              div.alert.alert-dismissable.alert-success(role="alert" ng-show="accidentPosted")
                button.close(type="button" data-dismiss="alert" aria-label="Close")
                  span(aria-hidden="true") &times;
                strong Success!
                | &nbsp; Your accident has been posted.
          div.row
            div.col-md-4
              div.panel.panel-default
                div.panel-heading
                  h2.panel-title Accident
                div.panel-body
                  div.form-group
                    label {{ dataSettings.description('crash','ambulance') }}:
                    select.form-control(ng-model="ambulance")
                      option(ng-repeat="v in dataSettings.data('crash','ambulance').options") {{v}}

                    label {{ dataSettings.description('crash','weather') }}:
                    select.form-control(ng-model="weather")
                      option(ng-repeat="v in dataSettings.data('crash','weather').options") {{v}}

                    label Accident Location:
                    leaflet#pick_location(center="center" layers="layers" markers="markers")

                    label Date & Time:
                    div.input-group
                      span.input-group-addon
                        input(type="checkbox" ng-model="date_known")
                      input.form-control(type="datetime-local" ng-model="date_time" ng-readonly="!date_known" ng-class="{ hiddentext: !date_known }")
            div.col-md-4
              div.panel.panel-default
                div.panel-heading
                  h2.panel-title Bicyclist
                div.panel-body
                  div.form-group
                    label {{ dataSettings.description('biker','injury') }}:
                    select.form-control(ng-model="bike_injury")
                      option(ng-repeat="v in dataSettings.data('biker','injury').options") {{v}}

                    label {{ dataSettings.description('biker','sex') }}:
                    select.form-control(ng-model="bike_sex")
                      option(ng-repeat="v in dataSettings.data('biker','sex').options") {{v}}

                    label {{ dataSettings.description('biker','race') }}:
                    select.form-control(ng-model="bike_race")
                      option(ng-repeat="v in dataSettings.data('biker','race').options") {{v}}

                    label {{ dataSettings.description('biker','alcohol') }}:
                    select.form-control(ng-model="bike_alcohol")
                      option(ng-repeat="v in dataSettings.data('biker','alcohol').options") {{v}}
            div.col-md-4
              div.panel.panel-default
                div.panel-heading
                  h2.panel-title Driver
                div.panel-body
                  div.form-group

                    label {{ dataSettings.description('driver','injury') }}:
                    select.form-control(ng-model="driver_injury")
                      option(ng-repeat="v in dataSettings.data('driver','injury').options") {{v}}

                    label {{ dataSettings.description('driver','sex') }}:
                    select.form-control(ng-model="driver_sex")
                      option(ng-repeat="v in dataSettings.data('driver','sex').options") {{v}}

                    label {{ dataSettings.description('driver','race') }}:
                    select.form-control(ng-model="driver_race")
                      option(ng-repeat="v in dataSettings.data('driver','race').options") {{v}}

                    label {{ dataSettings.description('driver','estimated_speed') }}:
                    select.form-control(ng-model="driver_estimated_speed")
                      option(ng-repeat="v in dataSettings.data('driver','estimated_speed').options") {{v}}

                    label {{ dataSettings.description('driver','alcohol') }}:
                    select.form-control(ng-model="driver_alcohol")
                      option(ng-repeat="v in dataSettings.data('driver','alcohol').options") {{v}}
      div.panel-footer
        div.row
          div.col-xs-12
            button.btn.btn-primary(type="submit" ng-click="addAccident()") Add Accident
